

.demo_img {
    text-align   : center;
    margin-bottom: 60px;

    .img-wrap {
        // max-height: 175px;
        overflow        : hidden;
        margin-bottom   : 15px;
        box-shadow      : 0 0.75rem 1.5rem rgba(18, 38, 63, 0.08);
        background   : lighten($color: $primary, $amount: 60%);
        padding         : 10px;
        border-radius   : 16px;
        border          : 1px solid #e6e6e682
    }

    img {
        border-radius: 5px;
    }
}

.intro-demo_img {
    // box-shadow: 0px 20px 25px rgba(22, 28, 45, 0.05);
    background   : $white;
    box-shadow   : 0px 36px 48px rgba(31, 66, 135, 0.04);
    padding      : 10px;
    border-radius: 10px;

    img {
        border-radius: 5px;
    }

}